<br>
<div class="title">
    <span class="example-spacer"></span>

    <!-- <mat-form-field class="search" appearance="standard">
        <mat-label>
            <mat-icon>search</mat-icon> Please press enter to start the search

        </mat-label>
        <input matInput (keyup.enter)="applyFilter($event)" placeholder="Global Search" #input>
    </mat-form-field>&nbsp; -->

    <!-- <button  mat-button style="background-color: rgb(162, 213, 237);"    (click)="createInvoiceDialog()">Invoice</button>&nbsp;&nbsp; -->
</div>
<mat-spinner *ngIf="spinner "></mat-spinner>

<div class="mat-elevation-z8" style="margin-top: 50px;">
    <table #table mat-table [dataSource]="datasource" matSort >
        <!-- ID Column -->
        <ng-container matColumnDef="idInvoice" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE ID# </th>
            <td mat-cell *matCellDef="let row" ><button mat-button class="explore" mat-button [matMenuTriggerFor]="menu">{{row.idInvoice}} </button>
                <mat-menu style="width: auto ;" #menu="matMenu">
                    <table #table2 mat-table [dataSource]="row.orders" matSort  >
                        <!-- ID Column -->
                        <ng-container matColumnDef="clientPoNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> PO# </th>
                            <td mat-cell *matCellDef="let row"> {{row['invoiceLines'][0].clientPoNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="isbn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN </th>
                            <td mat-cell *matCellDef="let row">  {{row['invoiceLines'][0].isbn}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <!-- Fruit Column -->
                        <ng-container matColumnDef="clientId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Id </th>
                            <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="dueDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                            <td mat-cell *matCellDef="let row"> {{row.dueDate| date: 'MM/dd/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ActionsO">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row"> <button mat-button (click)="EditOrder(row)" ><mat-icon class="viewOrdre">edit</mat-icon> </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>

                </mat-menu>
            </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="idOrder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> idOrder </th>
            <td mat-cell *matCellDef="let row"> {{row.invoiceLines[0].idOrder}} </td>
        </ng-container>
        <ng-container matColumnDef="isbn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN </th>
            <td mat-cell *matCellDef="let row" >
                <span  *ngIf="row.invoiceLines[0].isbn !== null ">{{row.invoiceLines[0].isbn}}</span>
                <span  *ngIf="row.invoiceLines[0].isbn == null ">-</span>
            </td>
        </ng-container>
        <!-- Name Column -->
        <!-- Fruit Column -->

        <ng-container matColumnDef="customerPoNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PO# </th>
            <td mat-cell *matCellDef="let row" >
                <span  *ngIf="row.invoiceLines[0].customerPoNumber !== null ">{{row.invoiceLines[0].customerPoNumber}}</span>
                <span  *ngIf="row.invoiceLines[0].customerPoNumber == null ">-</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="productionPartId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Production PartId  </th>
            <td mat-cell *matCellDef="let row"> {{row.invoiceLines[0].productionPartId}} </td>
        </ng-container>
        <ng-container matColumnDef="clientPartNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PO# </th>
            <td mat-cell *matCellDef="let row" >
                <span  *ngIf="row.invoiceLines[0].clientPartNum !== null ">{{row.invoiceLines[0].clientPartNum}}</span>
                <span  *ngIf="row.invoiceLines[0].clientPartNum == null ">-</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Id </th>
            <td mat-cell *matCellDef="let row">{{row.accountName }} </td>
        </ng-container>
        <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
            <td mat-cell *matCellDef="let row"> {{row.invoiceDate | date: 'MM/dd/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="ActionsO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 100px !important;">  Actions </th>
            <ng-container matColumnDef="newtable">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td  *matCellDef="let row" style="display:inline !important; padding-bottom: 10px !important;margin-right: 10px;"> 
                    <button mat-button title="Validate" (click)="validate(row) " >
                        <mat-icon style=" color:green"  class="mr-1">check</mat-icon>
                        </button >
                        <button mat-button style=" margin-left: 10px;" title="Preview" (click)="openDialog(row) ">
                            <mat-icon class="viewOrdre" >visibility</mat-icon>
                            </button >
                        <button mat-button style=" margin-left: 10px;" title="Cancel" (click)="deleteInv(row) ">
                            <mat-icon class="viewOrdre" >delete_sweep</mat-icon>
                            </button >
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>

